<div class="row" style="position: relative;">
  <div class="col-sm-8">
    <div class="panel panel-default pull-left">
      <div class="panel-body">
        <h4>Hey there!</h4>
        <p>This is a fan site that happened after playing Valkyrie Crusade and really liking it. <span style="font-size: 0.5em;">(Also because I'm trying to learn Angular.js and other web-app related stuff)</span></p>
        <p>Other people might find this useful as well, so I decided to upload it.</p>
        <p>I hope to add a ton of cool stuff in the future.</p><br>
        <p>I know this site won't get a lot of attention, but some people might find it useful.</p>
        <p>Feel free to spread it around or <a href="reddit.com">send me ideas</a> or <a href="mailto:crispbaguette@gmail.com?Subject=An%20idea">e-mail me or something</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="position: absolute; bottom: 0; right:0;">
    <img width="256px"  class="hidden-xs" src="/assets/images/Stamp_38.png">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Current ideas</div>
      </div>
      <div class="panel-body">
        <p>Here are some of the ideas I had for this site:</p>
        <ul>
          <li>An experience calculator for upgrading cards.</li>
          <li>A place to see timers till stuff (local time)</li>
          <ul>
            <li>Daily login bonus</li>
            <li>Daily free regular summon</li>
            <li>Helping out comrades</li>
            <li>Other resets</li>
            <li>Time till boot refill</li>
          </ul>

          <li>A hub place for recruiting alliance members
            <ul>
              <li>With alliance info etc</li>
            </ul>
          </li>
          <li><span style="font-size: 0.75em;">Probably more.</span></li>
          <li><span style="font-size: 0.5em;">My memory is pretty bad.</span></li>
        </ul>
        <p class="lead">Please feel free to suggest ideas somewhere!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">Report a problem</div>
      </div>
      <div class="panel-body">
        <p>Yeah I know, this <i>site</i> is far from finished.</p>
      </div>
    </div>
  </div>
</div>
