<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<uib-alert type="info">This is really unfinished. Currently only shows slimes.</uib-alert>
<div class="row" >
  <!-- PANEL 1-->
  <div class="col-md-5">
    <div class="panel panel-default panel-body">
      <!-- CARD PICK  -->
      <h4>Pick-a-card <small>Max Lv. {{calc.cardtable[calc.selection].maxlevel}}</small></h4>
      <div class="btn-group btn-group-justified">
        <label class="btn btn-col-1" ng-model="calc.selection" uib-btn-radio="'N'"><b>N</b><br><small>Lv30</small></label>
        <label class="btn btn-col-1" ng-model="calc.selection" uib-btn-radio="'R'"><b>R</b><br><small>Lv40</small></label>
        <label class="btn btn-col-1" ng-model="calc.selection" uib-btn-radio="'SR'"><b>SR</b><br><small>Lv50</small></label>
        <label class="btn btn-col-1" ng-model="calc.selection" uib-btn-radio="'UR'"><b>UR</b><br><small>Lv70</small></label>
      </div><br>
      <div class="btn-group btn-group-justified">
        <label class="btn btn-col-2" ng-model="calc.selection" uib-btn-radio="'HN'"><b>HN</b><br><small>Lv40</small></label>
        <label class="btn btn-col-2" ng-model="calc.selection" uib-btn-radio="'HR'"><b>HR</b><br><small>Lv50</small></label>
        <label class="btn btn-col-2" ng-model="calc.selection" uib-btn-radio="'HSR'"><b>HSR</b><br><small>Lv60</small></label>
        <label class="btn btn-col-2" ng-model="calc.selection" uib-btn-radio="'HUR'"><b>HUR</b><br><small>Lv80</small></label>
      </div><br>
      <div class="btn-group btn-group-justified">
        <label class="btn btn-col-3" ng-model="calc.selection" uib-btn-radio="'GSR'"><b>GSR</b><br><small>Lv70</small></label>
        <label class="btn btn-col-3" ng-model="calc.selection" uib-btn-radio="'GUR'"><b>GUR</b><br><small>Lv90</small></label>
      </div><br>
      <div class="btn-group btn-group-justified">
        <label class="btn btn-col-slime" ng-model="calc.selection" uib-btn-radio="'Slime'">Slime<br><small>Lv27</small></label>
        <label class="btn btn-col-slime" ng-model="calc.selection" uib-btn-radio="'MetalSlime'">Metal<br>Slime</label>
      </div><br>

      <!-- Input 2  -->
      <h4>Current level:</h4>
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <div class="input-group-addon">Lv.</div>
            <input type="number" class="form-control" ng-model="calc.level" min="1" max="90">
          </div>
        </div>
      </div>
    </div>
    <br>
    <button ng-click="calc.calculateData()">Calc</button>
    <div>
      <h4>Summary</h4>
      <pre>{{calc.expNeeded()}} exp to max</pre>
    </div>

  </div>
  <!-- other panel-->
  <!-- PANEL 2-->
  <div class="col-md-7">
    <h4>Options</h4>
    <!-- Option template -->
    <div class="row option" ng-repeat="option in calc.optionlist">
      <div class="col-xs-12 "><h4 class="title topheadu">{{option.name}}</h4></div>
      <div class="col-sm-2 hidden-xs"><img ng-src="assets/images/{{option.type}}.png" alt="" class="img-responsive img-rounded"></div>
      <div class="col-sm-10">
        <div class="col-sm-2 col-xs-6 headu"><h4>Amount</h4></div><div class="col-sm-2 col-xs-6 headu"><h4>Arcana</h4></div>
        <div class="clearfix"></div>
        <div class="col-sm-2 col-xs-6"><h4>{{option.needed}}</h4></div><div class="col-sm-2 col-xs-6"><img class="arcana-img" ng-if="option.arcana>=2" ng-src="assets/images/Arcana_blessing.png" alt=""><img class="arcana-img" ng-if="option.arcana>=4" ng-src="assets/images/Arcana_training.png" alt=""></div>
        <div class="clearfix"></div>
        <div class="col-sm-2"><b>Gives:</b></div><div class="col-sm-4">153632 exp</div><div class="col-sm-2"><b>Loss:</b></div><div class="col-sm-4">{{option.waste | number:0}} exp</div>
      </div>
    </div>
  </div>
</div>
